@page "/products";

@inject NavigationManager _navegation
@inject AppDbContext _context;

<Heading 
    title="List of Products" 
    buttonTitle="new Product" 
    buttonAction="NavToNewProductPage"
    buttonContext="danger"
    />

@if(productsList.Count > 0)
{
    <Table ProductList="productsList"></Table>
} else
{
    <div class="alert alert-danger" role="alert"> Não há itens para ser exibidos </div>
}


@code {
    List<Product> productsList = new();

    void NavToNewProductPage()
    {
        _navegation.NavigateTo("products/create");
    }

    protected override async Task OnInitializedAsync()
    {
        productsList = await _context.Products.ToListAsync();
    }
}
