@page "/products";

@inject NavigationManager _navegation
@inject AppDbContext _context;

<Heading 
    title="List of Products" 
    buttonTitle="new Product" 
    buttonAction="NavToNewProductPage"
    buttonContext="danger"
    />

@if(productsList.Count > 0)
{
    <div class="alert alert-success mt-2 mb-1" role="alert">@productsList.Count Produtos Encontrados </div>
    <Table 
        ProductList="productsList" 
        EditAction="(id) => NavigateToEdit(id)" 
        DeleteAction="(id) => NavigateToDelete(id)"
    ></Table>
  
} else
{
    <div class="alert alert-danger mt-2 mb-1" role="alert"> Não há itens para ser exibidos </div>
}


@code {
    List<Product> productsList = new();

    void NavToNewProductPage()
    {
        _navegation.NavigateTo("products/create");
    }

    protected override async Task OnInitializedAsync()
    {
        productsList = await _context.Products.ToListAsync();
    }

    public void NavigateToEdit(int Id)
    {
        _navegation.NavigateTo($"products/edit/{Id}");
    
    }
    public void NavigateToDelete(int Id)
    {
        _navegation.NavigateTo($"products/delete/{Id}");
    }
}
